.vscode
*.sqlite3
*.deb
*.swp
*.csv
*.log
__pycache__
client_secret.json
src/html5
src/core/version.py
src/web/static/assets/sass
src/web/static/favicon.ico
src/web/templates/parts/_version.html
dpkg/opt
dpkg/DEBIAN/control

