blinker==1.4
certifi==2018.10.15
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-Login==0.4.1
Flask-SQLAlchemy==2.3.2
hexdump==3.3
html2text==2018.1.9
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
SQLAlchemy==1.2.18
pyyaml>=4.2b1
requests==2.20.0
urllib3==1.24
pysp>=0.0.3
Werkzeug==0.14.1
WTForms==2.2.1
