<div id="flash-message">
  <!-- <div class="box box-success">Flash Message<br/>Show detail more</div> -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="flash-message box {{ category }} tada animated"><b>{{ message }}</b></div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="flash-message box danger tada animated">{{error}}</div>
{% endif %}

{% if msg %}
  <div class="flash-message box success tada animated">{{msg}}</div>
{% endif %}
</div>

<div id="dialog-box" class="modal-dialog">
  <div class="box gray modal-dialog-content">
    <div class="row">
      <label id="dialog-box-title"></label>
    </div>
    <div class="row">
      <div>
        <label id="dialog-box-content" style="font-weight: 100;"></label>
        <ul class="actions pull-right">
          <li class="hide"><button id="dialog-box-set" class="button small yellow">Set</button></li>
          <li class="hide"><button id="dialog-box-clear" class="button small">Clear</button></li>
          <li class="hide"><button id="dialog-box-cancel" class="button small gray">Cancel</button></li>
          <li class="hide"><button id="dialog-box-yes" class="button small">Yes</button></li>
          <li class="hide"><button id="dialog-box-no" class="button small">No</button></li>
          <li class="hide"><button id="dialog-box-okay" class="button small">OK</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="dialog-bookmark" class="modal-dialog">
  <div class="box gray dialog-wrapper">
    <div class="row">
      <label id="dialog-bookmark-title">Title</label>
    </div>
    <div class="row">
      <div>
        <ul class="actions mbottom">
          <li><label style="width: 2em;">Name</label></li>
          <li><input id="dialog-bookmark-name" type="text" class="small" /></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div>
        <ul class="actions mbottom">
          <li><label style="width: 2em;">URL</label></li>
          <li><input id="dialog-bookmark-url" type="text" class="small" /></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div>
        <span id="dialog-bookmark-message" style="color: red;">Error Message</span>
      </div>
    </div>
    <div class="row pull-right">
      <div>
        <ul class="actions">
          <li><button id="dialog-bookmark-okay" class="small primary">Okay</button></li>
          <li><button id="dialog-bookmark-cancel" class="small">Cancel</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>
