  <!-- Search -->
  <section id="search" class="alt">
      <form method="post" action="#">
          <input type="text" name="query" id="query" placeholder="Search" />
      </form>
  </section>

  <!-- Menu -->
  <nav id="menu">
      <header class="major">
          <h2><a href="/">Menu</a></h2>
      </header>
      <ul>
        {% if session.user_id and current_user.is_authorized('STOCK') %}
          <li><a href="{{ url_for('bill_dashboard' )}}">Bill Dashboard</a></li>
          <li><a href="{{ url_for('bill_stock' )}}">Stock Index</a></li>
          <li>
              <span class="opener active">Recent View</span>
              <ul>
                {% for recent in recent_stocks %}
                  <li id="menu-field-{{recent.code}}">
                    <div class="menu-field">
                      <span class="fa fa-times recent-stock-delete" value="{{recent.code}}"></span>&nbsp;&nbsp;
                      <a class="recent-stock" href="/bill/stock/{{recent.code}}">{{recent.name}} ({{recent.code}})</a>
                    </div>
                  </li>
                {% endfor %}
              </ul>
          </li>
        {% endif %}
      </ul>
  </nav>
