  <!-- Search -->
  <section id="search" class="alt">
      <form method="post" action="#">
          <input type="text" name="query" id="query" placeholder="Search" />
      </form>
  </section>

  <!-- Menu -->
  <nav id="menu">
      <header class="major">
          <h2>Menu</h2>
      </header>
      <ul>
        {% if session.user_id and current_user.is_permission('STOCK') %}
          <li><a href="{{ url_for('bill_dashboard' )}}">Bill Dashboard</a></li>
          <li><a href="{{ url_for('bill_stock' )}}">Stock Index</a></li>
          <li>
              <span class="opener active">Recent View</span>
              <ul>
                {% for recent in recent_stocks %}
                  <li><a class="recent-stock" href="/bill/stock/{{ recent.code }}">{{ recent.name }}</a></li>
                {% endfor %}
              </ul>
          </li>
        {% endif %}
      </ul>
  </nav>
