<div class="navbar-header">
  <button style="float: left;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar" aria-expanded="true" aria-controls="sidebar">
    <div class="btn btn-default">
      <i class="glyphicon glyphicon-align-left"></i>
      <span>Sidebar</span>
    </div>
  </button>
</div>

<div id="sidebar" class="collapse navbar-collapse col-sm-3 col-md-2 sidebar">
  <ul id="sidebar-main" class="nav nav-sidebar">
    <!-- <li><a href="">Nav item</a></li> -->
  </ul>
  <ul id="sidebar-item" class="nav nav-sidebar">
  </ul>
  <ul id="sidebar-other" class="nav nav-sidebar">
  </ul>
</div>
