{% extends 'layout.html' %}

{% block content %}
<section>
  <header class="main">
    <h2>Register</h2>
  </header>
  {% from "parts/_formhelpers.html" import render_field %}
  <form method="POST" action="{{ url_for('account_register' )}}" id="registerform">
    {{ form.csrf_token }}
    <div class="row gtr-uniform">
      <div class="col-6 col-12-small">
        {{render_field(form.email, class_="form-control", autofocus=true, placeholder=form.email.label.text)}}
      </div>
    </div>
    <p/>
    <div class="row gtr-uniform">
      <div class="col-6 col-12-small">
        {{render_field(form.username, class_="form-control", placeholder=form.username.label.text)}}
      </div>
    </div>
    <p/>
    <div class="row gtr-uniform">
      <div class="col-6 col-12-small">
        {{render_field(form.password, class_="form-control", placeholder=form.password.label.text)}}
      </div>
    </div>
    <p/>
    <div class="row gtr-uniform">
      <div class="col-6 col-12-small">
        {{render_field(form.confirm, class_="form-control", placeholder=form.confirm.label.text)}}
      </div>
    </div>
    <p/>
    <div class="row gtr-uniform">
      <div class="col-6 col-12-small">
        <button type="submit" form="registerform" class="">Submit</button>
      </div>
    </div>
  </form>
</section>
{% endblock %}
