{% extends 'layout.html' %}

{% block content %}
<section>
    <div>
      <header class="main">
        <h2>Account Information</h2>
      </header>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Content</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>User Name</th>
              <td>{{ user.username }}</td>
              <td>
                <a href="{{ url_for('account_password') }}" class="button small">Change Password</a>
              </td>
            </tr>
            <tr>
              <th>E-mail</th>
              <td>{{ user.email}}</td>
              <td></td>
            </tr>
            <tr>
              <th>Registered Date</th>
              <td>{{ user.registered_date.strftime('%Y.%m.%d %H:%M') }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  {% if current_user.is_permission('ADMIN') %}
    <p/>
    <div >
        <header class="main">
          <h2>Users Information</h2>
        </header>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>User Name</th>
                <th colspan="2">Active</th>
                <th>Role</th>
                <th>Registered Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td id="account-active-state-{{ user.id }}">{{ user.active }}</td>
                <td>
                  {% if user.id != 1 %}
                    {% if user.active %}
                    <button class="button small gray account-inactive" value="{{ user.id }}">D</button>
                    {% else %}
                    <button class="button small green account-active" value="{{ user.id }}">A</button>
                    {% endif %}
                  {% endif %}
                </td>
                <td>{{ user.role }}</td>
                <td>{{ user.registered_date.strftime('%Y.%m.%d %H:%M') }}</td>
                <td>
                  {% if user.id != 1 %}
                  <button class="button small red account-delete" value="{{ user.id }}">DEL</button>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  {% endif %}
</section>
{% endblock %}

{% block bodyscript %}
<script type="text/javascript">
  $(function(){
    account_control()
  });
  function account_control(){
    $(".account-active").each(function(idx){
      $(this).on('click', function(){
        ajax.patch('/ajax/account/user', {id: $(this).val(), active: true}, render_reload);
      });
    });
    $(".account-inactive").each(function(idx){
      $(this).on('click', function(){
        ajax.patch('/ajax/account/user', {id: $(this).val(), active: false}, render_reload);
      });
    });
    $(".account-delete").each(function(idx){
      $(this).on('click', function(){
        ajax.delete('/ajax/account/user', {id: $(this).val()}, render_reload);
      });
    });
  }
  function render_reload(resp){ location.reload(); }
</script>
{% endblock %}
