{% extends 'layout.html' %}

{% block content %}
<section>
    <div>
      <header class="main">
        <h2>Account Information</h2>
      </header>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Item</th>
              <th>Content</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>User Name</th>
              <td>{{ user.username }}</td>
              <td>
                <a href="{{ url_for('account_password') }}" class="button small">Change Password</a>
              </td>
            </tr>
            <tr>
              <th>E-mail</th>
              <td>{{ user.email }}</td>
              <td></td>
            </tr>
            <tr>
              <th>Role</th>
              <td>{{ user.role }}</td>
              <td></td>
            </tr>
            <tr>
              <th>Notify Email</th>
              <td id="cell-notify-email">
                {{ ', '.join(notify) }}
              </td>
              <td>
                <ul class="row actions small" style="margin-bottom: 0;">
                  <li>
                    <select class="etc bottom small" name="select-notify-email" id="select-notify-email" style="width: 10em;">
                      {% for k, v in notifications.items() %}
                      <option value="{{k}}">{{k}}</option>
                      {% endfor%}
                    </select>
                  </li>
                  <li><a href="#" class="button small notify-email green">SELECT</a></li>
                  <li><a href="#" class="button small notify-email">REMOVE</a></li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>Registered Date</th>
              <td>{{ user.registered_date.strftime('%Y.%m.%d %H:%M') }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  {% if current_user.is_authorized('ADMIN') %}
    <p/>
    <div >
        <header class="main">
          <h2>Users Information</h2>
        </header>
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>E-mail</th>
                <th>User Name</th>
                <th>Active</th>
                <th>Role</th>
                <th>Notify</th>
                <th>Registered Date</th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr id="field-{{user.id}}">
                <td name="col-id">{{ user.id }}</td>
                <td name="col-email">{{ user.email }}</td>
                <td name="col-name">{{ user.username }}</td>
                <td name="col-active">{{ user.active }}</td>
                <!-- <td>
                  {% if user.id != 1 %}
                    {% if user.active %}
                    <button class="button small gray account-inactive" value="{{ user.id }}">D</button>
                    {% else %}
                    <button class="button small green account-active" value="{{ user.id }}">A</button>
                    {% endif %}
                  {% endif %}
                </td> -->
                <td name="col-role">{{ user.role }}</td>
                <td name="col-notify">{{ ', '.join(function.notify_names(user.notify)) }}</td>
                <td name="col-regdate">{{ user.registered_date.strftime('%Y.%m.%d %H:%M') }}</td>
                <td colspan="2">
                  {% if user.id != 1 %}
                  <a class="icon fa-lg fa-edit button-field-edit" value="{{user.id}}"></a>
                  <!-- <button class="button small red account-delete" value="{{ user.id }}">DEL</button> -->
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  {% endif %}
</section>
{% endblock %}

{% block bodyscript %}
<script type="text/javascript">
  $(function(){
    _data = {
      roles: [{% for role in roles %}"{{role}}",{% endfor %}],
      stockList: null,
    };

    stock.query_all_list(function(list){
      _data.stockList = list;
    });
    reflact_field_button();
  });


  function reflact_field_button(){
    // $(".account-active").each(function(idx){
    //   $(this).on('click', function(){
    //     ajax.patch('/ajax/account/user', {id: $(this).val(), active: true}, render_reload);
    //   });
    // });
    // $(".account-inactive").each(function(idx){
    //   $(this).on('click', function(){
    //     ajax.patch('/ajax/account/user', {id: $(this).val(), active: false}, render_reload);
    //   });
    // });
    // $(".account-delete").each(function(idx){
    //   $(this).on('click', function(){
    //     ajax.delete('/ajax/account/user', {id: $(this).val()}, render_reload);
    //   });
    // });
    $(".button.notify-email").each(function(idx){
      $(this).on('click', function(e){
        e.preventDefault();
        let value = $('#select-notify-email').val();
        let params = {
          operate: $(this).text(),
          notify: value,
        }
        ajax.patch('/ajax/account/user/notify', params, function(resp){
          $("#cell-notify-email").text(resp.names.join(', '));
        });
      });
    });
    $(".button-field-edit").each(function(idx){
      $(this).on('click', function(){
        var userid = $(this).attr('value');
        var trid = "#field-"+userid;
        var checked = function(check, value){
          return (check == value) ? 'checked' : '';
        };
        var selected = function(select, value){
          return (select == value) ? 'selected' : '';
        };
        var html =
        html += '<tr id="field-edit-'+userid+'">';
        html += '  <td>'+$(trid+' td[name="col-id"]').text()+'</td>';
        html += '  <td>'+$(trid+' td[name="col-email"]').text()+'</td>';
        html += '  <td>'+$(trid+' td[name="col-name"]').text()+'</td>';
        html += '  <td>';
        var active_radio_name = 'user-'+userid+'-active';
        var active_radio_true = 'user-'+userid+'-active-true';
        var active_radio_false = 'user-'+userid+'-active-false';
        var active_value = $(trid+' td[name="col-active"]').text();
        html += '    <div><input type="radio" id="'+active_radio_true+'" name="'+active_radio_name+'" value="true" '+checked('True', active_value)+'><label for="'+active_radio_true+'">True</label></div>';
        html += '    <div><input type="radio" id="'+active_radio_false+'" name="'+active_radio_name+'" value="false" '+checked('False', active_value)+'><label for="'+active_radio_false+'">False</label></div>';
        html += '  </td>';
        html += '  <td>';
        var role_name = 'user-'+userid+'-role';
        var role_combo = 'combo-user-'+userid+'-role';
        html += '    <div>';
        html += '    <select name="'+role_name+'" id="'+role_combo+'">';
        for (var i in _data.roles) {
        html += '      <option value="'+_data.roles[i]+'" '+selected(_data.roles[i], $(trid+' td[name="col-role"]').text())+'>'+_data.roles[i]+'</option>';
        }
        html += '    </select>';
        html += '    </div>';
        html += '  </td>';
        // col-role
        html += '  <td></td>';
        html += '  <td>'+$(trid+' td[name="col-regdate"]').text()+'</td>';
        html += '  <td>';
        html += '    <div><a class="icon fa-lg fa-stop button-edit-cancel" value="'+userid+'"></a></div>';
        html += '    <div><a class="icon fa-lg fa-check button-edit-apply" value="'+userid+'"></a></div>';
        html += '  </td>';
        html += '  <td><div><a class="icon fa-lg fa-trash button-edit-delete" value="'+userid+'"></a></div></td>';
        html += '</tr>';
        $(trid).hide();
        $(trid).after(html);
        reflact_button_edit();
      });
    });
  }

  function reflact_button_edit(){
    $('.button-edit-cancel').each(function(idx){
      $(this).on('click', function(){
        var userid = $(this).attr('value');
        $('#field-'+userid).show();
        $('#field-edit-'+userid).remove();
      });
    });
    $('.button-edit-apply').each(function(idx){
      $(this).on('click', function(){
        var userid = $(this).attr('value');
        console.log('userid '+userid);
        var trid = "#field-edit-"+userid;
        var radio_name = 'user-'+userid+'-active';
        var combo_name = 'user-'+userid+'-role';
        var params = {
          id: parseInt(userid),
          active: $(trid+' input[name='+radio_name+']:checked').val() == 'true',
          role: $(trid+' option:selected').val(),
        };
        console.log(params);
        ajax.patch('/ajax/account/user', params, render_reload);
      });
    });
    $('.button-edit-delete').each(function(idx){
      $(this).on('click', function(){
        var userid = $(this).attr('value');
        ajax.delete('/ajax/account/user', {id: userid}, render_reload);
      });
    });
  }
  function render_reload(resp){ location.reload(); }
</script>
{% endblock %}
