{% extends 'layout.html' %}

{% block content %}
<section>
  <header class="main">
    <h2>Change Password</h2>
  </header>
  {% from "parts/_formhelpers.html" import render_field %}
  <form method="POST" action="{{ url_for('account_password' )}}" id="passwordform">
    {{ form.csrf_token }}
    <div class="row gtr-uniform">
      <div class="col-6 col-12-small">
        {{render_field(form.passwd_cur, class_="form-control", autofocus=true, placeholder=form.passwd_cur.label.text)}}
      </div>
    </div>
    <p/>
    <div class="row gtr-uniform">
      <div class="col-6 col-12-small">
        {{render_field(form.passwd_new, class_="form-control", placeholder=form.passwd_new.label.text)}}
      </div>
    </div>
    <p/>
    <div class="row gtr-uniform">
      <div class="col-6 col-12-small">
        {{render_field(form.passwd_confirm, class_="form-control", placeholder=form.passwd_confirm.label.text)}}
      </div>
    </div>
  </form>
  <div class="row gtr-uniform">
    <div class="col-6 col-12-small">
      <button type="submit" form="passwordform" class="button-gray pull-right">Apply</button>
    </div>
  </div>
</section>
{% endblock %}
