{% extends 'layout.html' %}

{% block content %}
<section>
  <header class="main">
    <h2>Login</h2>
  </header>
  {% from "parts/_formhelpers.html" import render_field %}
  <form method="POST" action="{{ url_for('account_login' )}}" id="loginform">
    {{ form.csrf_token }}
    <div class="row gtr-uniform">
      <div class="col-6 col-12-small">
        {{render_field(form.email, class_="form-control", autofocus=true, placeholder=form.email.label.text)}}
      </div>
    </div>
    <p/>
    <div class="row gtr-uniform">
      <div class="col-6 col-12-small">
        {{render_field(form.password, class_="form-control", placeholder=form.password.label.text)}}
      </div>
    </div>
  </form>
  <div class="row gtr-uniform">
    <div class="col-6 col-12-small">
      <button type="submit" form="loginform" class="">Login</button>
      <a href="{{ url_for('account_register') }}" class="button button-gray pull-right">Register</a>
    </div>
  </div>
</section>
{% endblock %}

{% block bodyscript %}
<script type="text/javascript">
  $(function() {

  });
</script>
{% endblock %}
