{% extends 'layout.html' %}

{% block content %}
<section>
  <header class="main">
    <div class="row pull-right">
      <div class="btn-group">
        <a type="button" class="button bottom small yellow" href="https://stockplus.com/m">K</a>
        <a type="button" class="button bottom small green" href="https://m.stock.naver.com/index.nhn">N</a>
      </div>
    </div>
    <h2>Simulation</h2>
  </header>
</section>
{% endblock %}

{% block bodyscript %}
<script type="text/javascript">
  $(function(){
  });

</script>
{% endblock %}
