{% extends 'layout_sidebar.html' %}

{% block body %}
  <h2>Bill Board</h2>
  <div id="chart-candle" style="width: 100%; height: 600px;"></div>
{% endblock %}

{% block bodyscript %}
<script type="text/javascript">
  $(function(){
    _data = {investor: 'investor3'};

    sidebar();

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChartCandle);
    //create trigger to resizeEnd event
    $(window).resize(function() {
        if(this.resizeTO) clearTimeout(this.resizeTO);
        this.resizeTO = setTimeout(function() {
            $(this).trigger('resizeEnd');
        }, 250);
    });
    //redraw graph when window resize is completed
    $(window).on('resizeEnd', function() {
        drawChartCandle();
    });
  });
  function drawChartCandle() {
    var data = google.visualization.arrayToDataTable([
      //  low, start, high, end
      ['Mon', 20, 28, 38, 45],
      ['Tue', 31, 38, 55, 66],
      ['Wed', 50, 55, 77, 80],
      ['Thu', 77, 77, 66, 50],
      ['Fri', 68, 66, 22, 15]
      // Treat first row as data as well.
    ], true);

    var options = {
      legend:'none',
      width: document.getElementById('chart-candle').offsetWidth,
      chartArea: {width: '86%', height: '75%'},
      candlestick: {
        risingColor: {stroke: 'red', fill: 'red'},
        fallingColor: {stroke: 'blue', fill: 'blue'}
      },
    };

    var chart = new google.visualization.CandlestickChart(document.getElementById('chart-candle'));
    chart.draw(data, options);
  }

  function sidebar() {
    $("#sidebar-main").append('<li><a href="/bill/stock/">Stock Index</a></li>');
  }
</script>
{% endblock %}
