{% extends 'layout.html' %}

{% block content %}
<section>
  <header class="main">
    <h2>Stock Items</h2>
  </header>
  <p>
  <div id="view-stock-list"></div>
</section>
{% endblock %}

{% block bodyscript %}
<script type="text/javascript">
  $(function(){
    _data = {
      stockList: null,
    };

    stock.query_all_list(render_stock_list);
  });

  function get_first_character(word) {
    var cho_pool = ["ㄱ","ㄲ","ㄴ","ㄷ","ㄸ","ㄹ","ㅁ","ㅂ","ㅃ","ㅅ","ㅆ","ㅇ","ㅈ","ㅉ","ㅊ","ㅋ","ㅌ","ㅍ","ㅎ"];
    var char = word.charCodeAt(0);
    if (char < 128)
      return word[0];
    char -= 44032;
    if(char>-1 && char<11172)
      return cho_pool[Math.floor(char/588)];
    return word[0];
  }

  function render_stock_list(list) {
    var char, pchar=null;
    var html = '';
    _data.stockList = list;
    for (var i in list) {
      var codename = list[i].codeName;
      var code = list[i].short_code.substring(1);
      char = get_first_character(codename);
      if (char != pchar) {
        pchar = char;
        if (html.length > 0) {
          $("#view-stock-list").append(html);
          html = '</ul>';
        }
        html += `<h4>${char}</h4>`;
        html += '<ul class="row actions">';
      }
      html += `<li><a href="{{ url_for('bill_stock')}}${code}" class="button bottom">${codename}</a></li>`;
    }
    html += '</ul>';
    $("#view-stock-list").append(html);
  }
</script>
{% endblock %}
