{% extends 'layout.html' %}

{% block content %}
<section>
  <header class="main">
    <h2>{{ extra_info.codename }}({{ extra_info.code }})</h2>
  </header>
  <!-- Stock Brief Title -->
  <div class="row">
    <div class="col-5 col-5-medium">
      <div><h2 id="sbrf_tradePrice" style="text-align: right; margin: 0; font-size: 2em"></h2></div>
      <div style="text-align: right; font-weight: 600;" id="sbrf_change" class="stock text">
        <span id="sbrf_changePrice"></span>&nbsp;&nbsp;
        <span id="sbrf_changeRate"></span>
      </div>
    </div>
    <div class="col-7 col-7-medium">
      <img id="sbrf_miniDayChartUrl" style="height: 6.5em;"/>
    </div>
  </div>
  <!-- Stock Brief -->
  <div class="row">
    <div class="col-3 col-6-medium">
      <div><span>전일</span><span class="pull-right stock text" id="sbrf_prevClosingPrice"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>고가</span><span class="pull-right stock text" id="sbrf_highPrice"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>시가</span><span class="pull-right stock text" id="sbrf_openingPrice"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>저가</span><span class="pull-right stock text" id="sbrf_lowPrice"></span></div>
    </div>

    <div class="col-3 col-6-medium">
      <div><span>거래량(주)</span><span class="pull-right stock text" id="sbrf_accTradeVolume"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>거래 대금</span><span class="pull-right stock text" id="sbrf_globalAccTradePrice"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>시가 총액</span><span class="pull-right stock text" id="sbrf_totalMarketValue"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>외국인 비중</span><span class="pull-right stock text" id="sbrf_foreignRatio"></span></div>
    </div>

    <div class="col-3 col-6-medium">
      <div><span>EPS</span><span class="pull-right stock text" id="sbrf_ownersAdjustedEps"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>BPS</span><span class="pull-right stock text" id="sbrf_ownersAdjustedBps"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>섹터</span><span class="pull-right stock" id="sbrf_wicsSectorName"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>배당(원)</span><span class="pull-right stock text" id="sbrf_commonAdjustedDps"></span></div>
    </div>

  </div>
  <!-- Stock Bar of 52 Weeks -->
  <div calss="row">
    <div class="box">
      <span>52주 최저</span>
      <span class="pull-right">52주 최고</span>
      <div class="bar container">
        <div id="sbrf_percent" class="bar percent"></div>
      </div>
      <span id="sbrf_high52wPrice" class="pull-right"></span>
      <span id="sbrf_low52wPrice"></span>
    </div>
  </div>
  <!-- <div id="chart-candle" style="width: 100%; height: 500px;"></div> -->
  <div>
    <h4>Investor Trands</h4>
    <div class="btn-group">
      <button type="button" class="button bottom small gray button-investor" value="investor3">3Ms</button>
      <button type="button" class="button bottom small button-investor" value="investor6">6Ms</button>
      <button type="button" class="button bottom small button-investor" value="investor12">1Y</button>
      <button type="button" class="button bottom small button-investor" value="investor24">2Ys</button>
      <button type="button" class="button bottom small button-investor" value="investor36">3Ys</button>
    </div>
    <div class="row">
      <div id="chart-investor" style="width: 100%; height: 400px;"></div>
    </div>
    <div class="row">
      <div class="col-4 col-12-medium">
        <h4>Investors Trading Amount</h4>
        <table>
          <thead>
            <tr><th>Date</th><th class="align-center" colspan="2">Foreign</th><th>Institute</th><th>Person</th><tr>
          </thead>
          <tbody id="tbody-ita">
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block bodyscript %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  $(function(){
    _code = "{{ extra_info.code }}";
    _data = {investor: 'investor3'};

    // Chart
    google.charts.load('current', {'packages':['corechart']});
    // google.charts.setOnLoadCallback(drawChartCandle);
    google.charts.setOnLoadCallback(drawChartInvestorTrand);
    //create trigger to resizeEnd event
    $(window).resize(function() {
        if(this.resizeTO) clearTimeout(this.resizeTO);
        this.resizeTO = setTimeout(function() {
            $(this).trigger('resizeEnd');
        }, 250);
    });
    //redraw graph when window resize is completed
    $(window).on('resizeEnd', function() {
        // drawChartCandle();
        drawChartInvestorTrand();
    });

    // Initialize
    stock.kakao_brief_stock(_code, render_kakao_brief_stock);
    stock.kakao_brief_company(_code, render_kakao_brief_company);
    stock.query_investors_table(_code, 3, render_investors_table);
    initButtonInvestor();
  });

  function initButtonInvestor() {
    var months = [3, 6, 12, 24, 36];
    for (var i in months) {
        stock.query_investors_graph(_code, months[i], collectInvestorTrand);
    }
    $(".button-investor").each(function(index){
      $(this).on("click", function(){
        // inactived button, set the default
        $(".button-investor").each(function(index){
          $(this).removeClass("gray")
        });
        // activating the selected button
        $(this).addClass("gray");
        var key = $(this).val()
        // console.log(key);
        _data.investor = key;
        drawChartInvestorTrand();
      });
    });
  }
  function render_kakao_brief_stock(data){
    _data.code = data;
    console.log(data);
    $("#sbrf_tradePrice").text(util.formatNumber(data.tradePrice));
    $("#sbrf_changePrice").text(util.formatNumber(data.changePrice));
    $("#sbrf_changeRate").text((data.changePriceRate*100).toFixed(3)+'%');
    $("#sbrf_change").addClass(data.change=='RISE'?'color-up':data.change=='FALL'?'color-down':'');
    $("#sbrf_miniDayChartUrl").attr('src', data.dayChartUrl);

    var percent = (data.tradePrice-data.low52wPrice)/(data.high52wPrice-data.low52wPrice)*100;
    $("#sbrf_prevClosingPrice").text(util.formatNumber(data.prevClosingPrice));
    $("#sbrf_openingPrice").text(util.formatNumber(data.openingPrice)).addClass(stock.text_color(data.prevClosingPrice, data.openingPrice));
    $("#sbrf_lowPrice").text(util.formatNumber(data.lowPrice)).addClass(stock.text_color(data.prevClosingPrice, data.lowPrice));
    $("#sbrf_highPrice").text(util.formatNumber(data.highPrice)).addClass(stock.text_color(data.prevClosingPrice, data.highPrice));
    $("#sbrf_accTradeVolume").text(util.formatNumber(data.accTradeVolume));
    $("#sbrf_globalAccTradePrice").text(util.formatNumber(Math.ceil(data.globalAccTradePrice/100000000)+' 억'));
    $("#sbrf_totalMarketValue").text(util.formatNumber(Math.ceil(data.totalMarketValue/100000000))+' 억');
    $("#sbrf_foreignRatio").text(parseFloat(data.foreignRatio).toFixed(3)+' %');

    $("#sbrf_percent").css('width', ''+percent+'%');
    $("#sbrf_high52wPrice").text(util.formatNumber(data.high52wPrice));
    $("#sbrf_low52wPrice").text(util.formatNumber(data.low52wPrice));
  }
  function render_kakao_brief_company(data) {
      $("#sbrf_ownersAdjustedEps").text(util.formatNumber(parseInt(data.ownersAdjustedEps)));
      $("#sbrf_ownersAdjustedBps").text(util.formatNumber(parseInt(data.ownersAdjustedBps)));
      $("#sbrf_commonAdjustedDps").text(util.formatNumber(parseInt(data.commonAdjustedDps)));
      $("#sbrf_wicsSectorName").css('font-weight', '400').text(data.wicsSectorName);
  }
  function render_investors_table(data) {
    var td_color = function(num, right) {
      var color = (num > 0) ? 'stock color-up' : ((num < 0) ? 'stock color-down': 'stock');
      return right ? color+' align-right': color;
    };
    var td_number = function(num) {
      return '<td class="'+td_color(num, true)+'">'+util.formatNumber(parseInt(num/1000))+'</td>';
    }
    var td_foreigner = function(num, percent) {
      return td_number(num)+'<td>'+percent.toFixed(1)+'%</td>';
    };
    data.fields.reverse();
    console.log(data);
    var str = '';
    for (var i in data.fields) {
      var field = data.fields[i];
      var dates = field[0].split('-');
      str += '<tr>';
      str += '<td class="align-right">'+parseInt(dates[1])+'.'+parseInt(dates[2])+'</td>';
      str += td_foreigner(field[1], field[2]);
      str += td_number(field[3]);
      str += td_number(field[4]);
      str += '</tr>';
    }
    $("#tbody-ita").append(str);
  }
  function collectInvestorTrand(resp) {
    // console.log(resp);
    var paths = resp.request.path.split("/");
    var invkey = 'investor'+paths[paths.length-1];
    var rawinvkey = 'raw-investor'+paths[paths.length-1];
    var data = {};
    var endIdx = resp.colnames.indexOf('end');
    var endmin=99999999, endmax=0;
    data.fields = [];
    data.colnames = resp.colnames;
    for (var row of resp.fields) {
      endmin = Math.min(endmin, row[endIdx]);
      endmax = Math.max(endmax, row[endIdx]);
      var date = row.shift();
      data.fields.push([new Date(date.split('-'))].concat(row));
      row.unshift(date);
    }
    data.endmin = parseInt(endmin * 0.95);
    data.endmax = parseInt(endmax * 1.05);
    _data[invkey] = data;
    _data[rawinvkey] = resp;
    // console.log(endmin, endmax);
  }
  function drawChartInvestorTrand() {
    var invdata = _data[_data.investor];
    var data = new google.visualization.DataTable();
    for (var i in invdata.colnames) {
      // console.log(invdata.colnames[i]);
      if (i == 0) {
        data.addColumn('date', 'X');
        continue
      }
      data.addColumn('number', invdata.colnames[i]);
    }
    data.addRows(invdata.fields);

    // console.log(invdata);
    var options = {
      legend: { position: 'top' },
      width: document.getElementById('chart-investor').offsetWidth,
      chartArea: {width: '85%', height: '75%'},
      // hAxis: {format: 'yy.M'},
      hAxis: {format: 'yy.M.d'},
      // vAxis: {textPosition: 'none'},
      vAxis: {1: {maxValue: invdata.endmax, minValue: invdata.endmin},
              0: {textPosition: 'none'},
              gridlines: {color: 'transparent'}},
      colors: ['#F5B041', '#A569BD', '#5DADE2', '#34495E', '#D5DBDB'],
      series: {
        4: {type: "area", targetAxisIndex: 1, areaOpacity: 0.25}
      }
    };
    var chart = new google.visualization.LineChart(document.getElementById('chart-investor'));
    chart.draw(data, options);
  }
  function drawChartCandle() {
    var data = google.visualization.arrayToDataTable([
      //  low, start, high, end
      ['Mon', 20, 28, 38, 45],
      ['Tue', 31, 38, 55, 66],
      ['Wed', 50, 55, 77, 80],
      ['Thu', 77, 77, 66, 50],
      ['Fri', 68, 66, 22, 15]
      // Treat first row as data as well.
    ], true);

    var options = {
      legend:'none',
      width: document.getElementById('chart-candle').offsetWidth,
      chartArea: {width: '85%', height: '75%'},
      candlestick: {
        risingColor: {stroke: 'red', fill: 'red'},
        fallingColor: {stroke: 'blue', fill: 'blue'}
      },
    };

    var chart = new google.visualization.CandlestickChart(document.getElementById('chart-candle'));
    chart.draw(data, options);
  }
</script>
{% endblock %}
