{% extends 'layout.html' %}

{% block content %}
<section>
  <header class="main">
    <div class="row pull-right">
      <div class="btn-group">
        <a type="button" class="button bottom small yellow" href="https://stock.kakao.com/m/stocks/KOREA-A{{extra_info.code}}">K</a>
        <a type="button" class="button bottom small green" href="https://m.stock.naver.com/item/main.nhn#/stocks/{{extra_info.code}}/total">N</a>
      </div>
    </div>
    <h2><a href="{{ url_for('bill_dashboard')}}">{{ extra_info.codename }}({{ extra_info.code }})</a></h2>
  </header>
  <!-- Stock Brief Title -->
  <div class="row">
    <div class="col-5 col-5-medium">
      <div><h2 id="sbrf_tradePrice" style="text-align: right; margin: 0; font-size: 2em"></h2></div>
      <div style="text-align: right; font-weight: 600;" id="sbrf_change" class="stock text">
        <span id="sbrf_changePrice"></span>&nbsp;&nbsp;
        <span id="sbrf_changeRate"></span>
      </div>
    </div>
    <div class="col-7 col-7-medium">
      <img id="sbrf_miniDayChartUrl" style="height: 6.5em;"/>
    </div>
    <p/>
  </div>
  <!-- Candle Chart -->
  <div class="btn-group">
    <button type="button" class="button bottom small gray button-candle" value="candle-day">D</button>
    <button type="button" class="button bottom small button-candle" value="candle-week">W</button>
    <button type="button" class="button bottom small button-candle" value="candle-month">M</button>
  </div>
  <div class="row">
    <img id="candle-day" src="https://ssl.pstatic.net/imgfinance/chart/item/candle/day/{{extra_info.code}}.png" style="width: 100%; height: 350px;"/>
    <img id="candle-week" src="https://ssl.pstatic.net/imgfinance/chart/item/candle/week/{{extra_info.code}}.png" style="width: 100%; height: 350px; display: none;"/>
    <img id="candle-month" src="https://ssl.pstatic.net/imgfinance/chart/item/candle/month/{{extra_info.code}}.png" style="width: 100%; height: 350px; display: none;"/>
    <p/>
  </div>
  <!-- Stock Brief -->
  <div class="row">
    <div class="col-3 col-6-medium">
      <div><span>전일</span><span class="pull-right stock text" id="sbrf_prevClosingPrice"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>고가</span><span class="pull-right stock text" id="sbrf_highPrice"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>시가</span><span class="pull-right stock text" id="sbrf_openingPrice"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>저가</span><span class="pull-right stock text" id="sbrf_lowPrice"></span></div>
    </div>

    <div class="col-3 col-6-medium">
      <div><span>거래량(주)</span><span class="pull-right stock text" id="sbrf_accTradeVolume"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>거래 대금</span><span class="pull-right stock text" id="sbrf_globalAccTradePrice"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>시가 총액</span><span class="pull-right stock text" id="sbrf_totalMarketValue"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>외국인 비중</span><span class="pull-right stock text" id="sbrf_foreignRatio"></span></div>
    </div>

    <div class="col-3 col-6-medium">
      <div><span>EPS</span><span class="pull-right stock text" id="sbrf_ownersAdjustedEps"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>BPS</span><span class="pull-right stock text" id="sbrf_ownersAdjustedBps"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>섹터</span><span class="pull-right stock" id="sbrf_wicsSectorName"></span></div>
    </div>
    <div class="col-3 col-6-medium">
      <div><span>배당(원)</span><span class="pull-right stock text" id="sbrf_commonAdjustedDps"></span></div>
    </div>

  </div>
  <!-- Stock Bar of 52 Weeks -->
  <div calss="row">
    <div id="percent-box" class="box" style="padding: 0.8em;">
      <span>52주 최저</span>
      <span class="pull-right">52주 최고</span>
      <div class="bar container">
        <div id="sbrf_percent" class="bar percent"></div>
      </div>
      <span id="sbrf_high52wPrice" class="pull-right"></span>
      <span id="sbrf_low52wPrice"></span>
    </div>
  </div>
  <!-- <div id="chart-candle" style="width: 100%; height: 500px;"></div> -->
  <div>
    <h4>Investor Trands</h4>
    <div class="btn-group">
      <button type="button" class="button bottom small gray button-investor" value="investor3">3Ms</button>
      <button type="button" class="button bottom small button-investor" value="investor6">6Ms</button>
      <button type="button" class="button bottom small button-investor" value="investor12">1Y</button>
      <button type="button" class="button bottom small button-investor" value="investor24">2Ys</button>
      <button type="button" class="button bottom small button-investor" value="investor36">3Ys</button>
    </div>
    <div class="row">
      <div id="chart-investor" style="width: 99%; height: 350px;"></div>
    </div>
  </div>

  <div>
    <div>
      <h3>Data</h3>
      <ul class="row actions">
        <li><a href="#" class="button small" id="download-csv">CSV</a></li>
      </ul>    
    </div>
    <div>
      <h3>Simulation</h3>
      <ul class="row actions">
        <li><a href="#" class="simulation control bottom button small" id="draw-previous">&lt;</a></li>
        <li><input type="text" class="simulation control small" id="simulation-index" placeholder="Index"/></li>
        <li><a href="#" class="simulation control bottom button small" id="draw-next">&gt;</a></li>
        <li><a href="#" class="simulation control bottom button small" id="draw-simulation-chart">Chart</a></li>
        <li><a href="#" class="simulation control bottom button small" id="download-simulation-csv">CSV</a></li>
      </ul>  
    </div>
    <div class="row">
      <div class="simulation area" id="simulation-chart" style="width: 99%; height: 350px; display: none"></div>
    </div>
    <div class="simulation area box" id="simulation-config" style="display: none;"></div>
  </div>

  <div class="row">
    <div class="col-4 col-12-medium">
      <h4 id="investors-trading"><span class="fa fa-caret-right"></span> Investors Trading</h4>
      <table id="investors-trading-table" style="display: none;">
        <thead>
          <tr><th>Date</th><th class="align-center" colspan="2">Foreign</th><th>Institute</th><th>Person</th><tr>
        </thead>
        <tbody id="tbody-invtbl">
        </tbody>
      </table>
    </div>
    <div class="col-8 col-12-medium">
      <h4 id="daily-price"><span class="fa fa-caret-right"></span> Daily Price</h4>
      <div id="daily-price-table" style="display: none;">
        <table>
          <thead>
            <tr><th>Date</th><th>End</th><th>Rate</th><th>Start</th><th>High</th><th>Low</th><th>Volume</th><tr>
          </thead>
          <tbody id="tbody-daily">
          </tbody>
        </table>  
      </div>
    </div>
  </div>
  {% if current_user.is_authorized('ADMIN') %}
  <p/>
  <div class="row">
    <div class="col-12 col-12-medium col-12-small">
      <h3 id="adjust-split-stock"><span class="fa fa-caret-right"> Adjust Split Stock</span></h3>
      <div id="adjust-split-stock-table" style="display: none;">
        <table>
          <thead></thead>
          <tbody>
            <tr><th>Ratio</th><td><input type="text" id="ass-ratio" value="" placeholder="Ratio" /></td><tr>
            <tr><th>From Date</th><td><input type="text" id="ass-from-date" value="" placeholder="YYYY-MM-DD" /></td><tr>
            <tr><th>To Date</th><td><input type="text" id="ass-to-date" value="" placeholder="None | YYYY-MM-DD" /></td><tr>
            <tr><td colspan="2">
              <div class="pull-right"><button id="button-ass-apply" class="button small gray">Apply</button></div>
              <div id="ass-msg"></div>
            </td><tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% endif %}
</section>
{% endblock %}

{% block bodyscript %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  $(function(){
    _code = "{{ extra_info.code }}";
    _data = {
      investor: 'investor3',
      chart: {
        simulation: {
          index: null,
        }
      }
    };
    _chartWidth = null;

    // Chart
    google.charts.load('current', {'packages':['corechart']});
    // google.charts.setOnLoadCallback(drawChartCandle);
    google.charts.setOnLoadCallback(drawChartInvestorTrand);
    //create trigger to resizeEnd event
    $(window).resize(function() {
        if(this.resizeTO) clearTimeout(this.resizeTO);
        this.resizeTO = setTimeout(function() {
            $(this).trigger('resizeEnd');
        }, 250);
    });
    //redraw graph when window resize is completed
    $(window).on('resizeEnd', function() {
        // drawChartCandle();
        _chartWidth = null
        drawChartInvestorTrand();
    });

    // Initialize
    stock.kakao_brief_stock(_code, render_kakao_brief_stock);
    stock.kakao_brief_company(_code, render_kakao_brief_company);
    stock.query_investors_table(_code, 1, render_investors_table);
    stock.query_daily_table(_code, 1, render_daily_table);
    initButtonInvestor();
    init_extra_buttons();
    init_ass_button();

    util.gui.show.area("#investors-trading", "#investors-trading span", "#investors-trading-table");
    util.gui.show.area("#daily-price", "#daily-price span", "#daily-price-table");
    util.gui.show.area("#adjust-split-stock", "#adjust-split-stock span", "#adjust-split-stock-table")
  });

  function init_extra_buttons() {
    let sim_ctl_selector = $('.simulation.control');
    let sim_area_selector = $('.simulation.area');
    let index_selector = $("#simulation-index");
    let get_index = function(){
      let index = parseInt(index_selector.val());
      return (isNaN(index)) ? 0 : index;
    };
    $("#download-csv").on('click', function(e){
      let selector = $("#download-csv");
      let to_csv = function(data){
        let title = $("header h2 a").text();
        // let date = new Date().toISOString();
        util.file.query_to_csv(title+'-daily.csv', title, data);
        selector.removeClass('disabled');
      };
      e.preventDefault();
      selector.addClass('disabled');
      stock.query_table(_code, 60, to_csv);
    });
    $("#download-simulation-csv").on('click', function(e){
      let to_csv = function(data){
        let title = $("header h2 a").text();
        // let date = new Date().toISOString();
        index_selector.val(data.cfg.algo.index);
        util.file.sim_data_to_csv(title+'-simulation.csv', title, data);
        sim_ctl_selector.each(function(idx){$(this).removeClass('disabled');});
      };
      e.preventDefault();
      sim_ctl_selector.each(function(idx){$(this).addClass('disabled');});
      stock.query_simulation(_code, get_index(), {}, to_csv);
    });
    let draw_chart = function(index) {
      let sim_data_selector = $("#simulation-config");
      let do_draw = function(data){
        sim_area_selector.each(function(i){$(this).show()});
        let info = '<b>CFG</b><br/>'+JSON.stringify(data.cfg)+'<br/><b>REPORT</b><br/>'+JSON.stringify(data.report);
        index_selector.val(data.cfg.algo.index);
        sim_data_selector.html(info);
        drawSimulationChart(data);
        _data.chart.simulation.index = data.cfg.algo.index;
        sim_ctl_selector.each(function(i){$(this).removeClass('disabled');});
      }
      sim_data_selector.html('');
      sim_ctl_selector.each(function(i){$(this).addClass('disabled');});
      stock.query_simulation_chart(_code, index, {}, do_draw);
    };
    $("#draw-simulation-chart").on('click', function(e){
      e.preventDefault();
      let index = get_index();
      if (_data.chart.simulation.index != index) {
        draw_chart(index);
      }
    });
    $("#draw-previous").on('click', function(e){
      e.preventDefault();
      let index = Math.max(get_index()-1, 0);
      if (_data.chart.simulation.index != index) {
        draw_chart(index);
      }
    });
    $("#draw-next").on('click', function(e){
      e.preventDefault();
      let index = get_index()+1;
      if (_data.chart.simulation.index != index) {
        draw_chart(index);
      }
    });
  }

  function initButtonInvestor() {
    var months = [3, 6, 12, 24, 36];
    for (var i in months) {
        stock.query_investors_graph(_code, months[i], collectInvestorTrand);
    }
    $(".button-investor").each(function(idx){
      $(this).on("click", function(){
        // inactived button, set the default
        $(".button-investor").each(function(idx){
          $(this).removeClass("gray")
        });
        // activating the selected button
        $(this).addClass("gray");
        var key = $(this).val()
        // console.log(key);
        _data.investor = key;
        drawChartInvestorTrand();
      });
    });
    $(".button-candle").each(function(idx){
      $(this).on("click", function() {
        $(".button-candle").each(function(idx){
          $("#"+$(this).val()).hide();
          $(this).removeClass('gray');
        });
        $("#"+$(this).val()).show();
        $(this).addClass('gray');
      })
    });
  }

  function init_ass_button() {
    $("#button-ass-apply").on('click', function(){
      let code = _code;
      let ratio = $("#ass-ratio").val();
      let from_date = $("#ass-from-date").val();
      let to_date = $("#ass-to-date").val();
      let period = 1.5;
      let params = {};

      do
      {
        if (isNaN(parseFloat(ratio))) {
          util.gui.spot_flash('#ass-msg', 'Invalid a Ratio', 'red', period);
          break;
        }
        if ( ! util.isValidDate(from_date)) {
          util.gui.spot_flash('#ass-msg', 'Invalid a From Date', 'red', period);
          break;
        }
        if (to_date) {
          if ( ! util.isValidDate(to_date)) {
            util.gui.spot_flash('#ass-msg', 'Invalid a To Date', 'red', period);
            break;
          } else {
            params.edate = to_date;
          }
        }
        code = util.paddingNumber(code, 6);
        params.ratio = ratio;
        params.sdate = from_date;
        util.gui.spot_flash('#ass-msg', 'Processing ...', 'orange', 0);
        stock.adjust_stock_split(code, params, function(resp){
          $("#ass-ratio").val('');
          $("#ass-from-date").val('');
          $("#ass-to-date").val('');
          util.gui.spot_flash('#ass-msg', 'Done to adjust.', 'green', 0);
        });
      }while(false);
    });
  }

  function render_kakao_brief_stock(data){
    _data.code = data;
    console.log(data);
    $("#sbrf_tradePrice").text(util.formatNumber(data.tradePrice));
    $("#sbrf_changePrice").text(util.formatNumber(data.changePrice));
    $("#sbrf_changeRate").text((data.changePriceRate*100).toFixed(2)+' %');
    $("#sbrf_change").addClass(data.change=='RISE'?'color-up':data.change=='FALL'?'color-down':'');
    $("#sbrf_miniDayChartUrl").attr('src', data.dayChartUrl);

    var percent = (data.tradePrice-data.low52wPrice)/(data.high52wPrice-data.low52wPrice)*100;
    $("#sbrf_prevClosingPrice").text(util.formatNumber(data.prevClosingPrice));
    $("#sbrf_openingPrice").text(util.formatNumber(data.openingPrice)).addClass(stock.text_compare_color(data.prevClosingPrice, data.openingPrice));
    $("#sbrf_lowPrice").text(util.formatNumber(data.lowPrice)).addClass(stock.text_compare_color(data.prevClosingPrice, data.lowPrice));
    $("#sbrf_highPrice").text(util.formatNumber(data.highPrice)).addClass(stock.text_compare_color(data.prevClosingPrice, data.highPrice));
    $("#sbrf_accTradeVolume").text(util.formatNumber(data.accTradeVolume));
    $("#sbrf_globalAccTradePrice").text(util.formatNumber(Math.ceil(data.globalAccTradePrice/100000000)+' 억'));
    $("#sbrf_totalMarketValue").text(util.formatNumber(Math.ceil(data.totalMarketValue/100000000))+' 억');
    $("#sbrf_foreignRatio").text((parseFloat(data.foreignRatio)*100).toFixed(1)+' %');

    $("#sbrf_percent").css('width', ''+percent+'%');
    $("#sbrf_high52wPrice").text(util.formatNumber(data.high52wPrice));
    $("#sbrf_low52wPrice").text(util.formatNumber(data.low52wPrice));
  }
  function render_kakao_brief_company(data) {
      $("#sbrf_ownersAdjustedEps").text(util.formatNumber(parseInt(data.ownersAdjustedEps)));
      $("#sbrf_ownersAdjustedBps").text(util.formatNumber(parseInt(data.ownersAdjustedBps)));
      $("#sbrf_commonAdjustedDps").text(util.formatNumber(parseInt(data.commonAdjustedDps)));
      $("#sbrf_wicsSectorName").css('font-weight', '400').text(data.wicsSectorName);
  }
  function render_investors_table(data) {
    var td_number = function(num) {
      return '<td class="'+stock.text_color_ralign(num, true)+'">'+util.formatNumber(parseInt(num/1000))+'</td>';
    }
    var td_foreigner = function(num, percent) {
      return td_number(num)+'<td>'+parseFloat(percent).toFixed(1)+'%</td>';
    };
    data.fields.reverse();
    // console.log(data);
    var str = '';
    for (var i in data.fields) {
      if (i >= (data.fields.length-1))
        continue;
      var field = data.fields[i];
      var dates = field[0].split('-');
      if (field[2] == null)
          continue;
      str += '<tr>';
      str += '<td class="align-right">'+parseInt(dates[1])+'.'+parseInt(dates[2])+'</td>';
      str += td_foreigner(field[1], field[2]);
      str += td_number(field[3]);
      str += td_number(field[4]);
      str += '</tr>';
    }
    $("#tbody-invtbl").append(str);
  }
  function render_daily_table(data) {
    data.fields.reverse();
    console.log(data);
    var str = '';
    for (var i in data.fields) {
      if (i >= (data.fields.length-1))
        continue;
      i = parseInt(i);
      var field = data.fields[i];
      var pfield = data.fields[(i+1)];
      var dates = field[0].split('-');
      var numrate = field[4] - pfield[4];
      str += '<tr>';
      str += '<td class="align-right">'+parseInt(dates[1])+'.'+parseInt(dates[2])+'</td>';
      str += '<td class="align-right">'+util.formatNumber(field[4])+'</td>';
      str += '<td class="'+stock.text_color_ralign(numrate, true)+'">'+util.formatNumber(numrate)+'</td>';
      str += '<td class="align-right">'+util.formatNumber(field[1])+'</td>';
      str += '<td class="align-right">'+util.formatNumber(field[2])+'</td>';
      str += '<td class="align-right">'+util.formatNumber(field[3])+'</td>';
      str += '<td class="align-right">'+util.formatNumber(field[5])+'</td>';
      str += '</tr>';
    }
    $("#tbody-daily").append(str);
  }
  function collectInvestorTrand(resp) {
    // console.log(resp);
    var paths = resp.request.path.split("/");
    var invkey = 'investor'+paths[paths.length-1];
    var rawinvkey = 'raw-investor'+paths[paths.length-1];
    var data = {};
    var endIdx = resp.colnames.indexOf('end');
    var endmin=99999999, endmax=0;
    data.fields = [];
    data.colnames = resp.colnames;
    for (var row of resp.fields) {
      endmin = Math.min(endmin, row[endIdx]);
      endmax = Math.max(endmax, row[endIdx]);
      var date = row.shift();
      data.fields.push([new Date(date.split('-'))].concat(row));
      row.unshift(date);
    }
    data.endmin = parseInt(endmin * 0.95);
    data.endmax = parseInt(endmax * 1.05);
    _data[invkey] = data;
    _data[rawinvkey] = resp;
    // console.log(endmin, endmax);
  }
  function drawChartInvestorTrand() {
    var _draw = function() {
      var data = new google.visualization.DataTable();
      for (var i in invdata.colnames) {
        // console.log(invdata.colnames[i]);
        if (i == 0) {
          data.addColumn('date', 'X');
          continue
        }
        data.addColumn('number', invdata.colnames[i]);
      }
      data.addRows(invdata.fields);

      // console.log(invdata);
      if (_chartWidth == null) {
        _chartWidth = document.getElementById('chart-investor').offsetWidth;
      }
      // console.log('### '+document.getElementById('percent-box').offsetWidth);
      var options = {
        legend: { position: 'top' },
        width: _chartWidth,
        chartArea: {width: '92%', height: '75%', left: 0},
        // hAxis: {format: 'yy.M'},
        hAxis: {format: 'yy.M.d'},
        // vAxis: {textPosition: 'none'},
        vAxis: { 0: {gridlines: {color: 'transparent'}}, 
                 1: {maxValue: invdata.endmax, minValue: invdata.endmin} },
        vAxes: { 0: {ticks: [], textStyle: {fontSize: 0}},
                 1: {gridlines: { count:0}} },
        colors: ['#F5B041', '#A569BD', '#5DADE2', '#34495E', '#D5DBDB'],
        series: {
          4: {type: "area", targetAxisIndex: 1, areaOpacity: 0.25}
        }
      };
      var chart = new google.visualization.LineChart(document.getElementById('chart-investor'));
      chart.draw(data, options);
    };
    var invdata = _data[_data.investor];
    if (invdata) {
      _draw();
    } else {
      console.log('Retry to draw chart.')
      setTimeout(drawChartInvestorTrand, 250);
    }
  }

  function drawSimulationChart(sdata) {
    let data = new google.visualization.DataTable();
    let cdata = [];
    let colnames = {};
    colnames.end = 'End';
    colnames.afhuu = "HUU";
    colnames.buycnt = "BPoint";
    colnames.sellcnt = "SPoint";
    for (var i in sdata.colnames) {
      if (i==0) {
        data.addColumn('date', 'X');
        continue;
      }
      data.addColumn('number', colnames[sdata.colnames[i]]);
    }
    for (var row of sdata.fields) {
      let date = row.shift();
      cdata.push([new Date(date.split('-'))].concat(row));
    }
    data.addRows(cdata);

    // console.log(invdata);
    if (_chartWidth == null) {
      _chartWidth = document.getElementById('chart-investor').offsetWidth;
    }
    console.log('### '+document.getElementById('percent-box').offsetWidth);

    let options = {
      legend: { position: 'top' },
      width: _chartWidth,
      chartArea: {width: '92%', height: '75%', right: 0},
      // // hAxis: {format: 'yy.M'},
      hAxis: {format: 'yy.M.d'},
      // // vAxis: {textPosition: 'none'},
      // vAxis: { 0: {gridlines: {color: 'transparent'}}}, 
      //          1: {maxValue: invdata.endmax, minValue: invdata.endmin} },
      vAxes: { 1: {gridlines: { count:0}} },
      colors: ['blue', 'orange', 'gray', 'red'],
      series: {
        1: {targetAxisIndex: 1},
        2: {targetAxisIndex: 1},
        3: {targetAxisIndex: 1},
      }
    };
    let chart = new google.visualization.LineChart(document.getElementById('simulation-chart'));
    chart.draw(data, options);
  }

  // function drawChartCandle() {
  //   var data = google.visualization.arrayToDataTable([
  //     //  low, start, high, end
  //     ['Mon', 20, 28, 38, 45],
  //     ['Tue', 31, 38, 55, 66],
  //     ['Wed', 50, 55, 77, 80],
  //     ['Thu', 77, 77, 66, 50],
  //     ['Fri', 68, 66, 22, 15]
  //     // Treat first row as data as well.
  //   ], true);

  //   var options = {
  //     legend:'none',
  //     width: document.getElementById('chart-candle').offsetWidth,
  //     chartArea: {width: '85%', height: '75%'},
  //     candlestick: {
  //       risingColor: {stroke: 'red', fill: 'red'},
  //       fallingColor: {stroke: 'blue', fill: 'blue'}
  //     },
  //   };

  //   var chart = new google.visualization.CandlestickChart(document.getElementById('chart-candle'));
  //   chart.draw(data, options);
  // }
</script>
{% endblock %}
