{% extends 'layout.html' %}

{% block content %}
<section>
  <header class="main">
    <div class="row pull-right">
      <div class="btn-group">
        <a type="button" class="button bottom small" href="{{ url_for('bill_simulation')}}">Sim</a>
        <a type="button" class="button bottom small yellow" href="https://stockplus.com/m">K</a>
        <a type="button" class="button bottom small green" href="https://m.stock.naver.com/index.nhn">N</a>
      </div>
    </div>
    <h2>Dashboard</h2>
  </header>
  <div>
    <h3 id="indicator-area"><span class="fa fa-caret-down"></span> Indicator</h3>
    <div class="row" id="indicator-area-table">
      <div class="col-4 col-6-medium col-6-small">
        <label class="mb-zero" id="indicator-kospi">Kospi Day</label>
        <img id="indicator-kospi-day" src="https://fn-chart.dunamu.com/images/kr/stock/d/D0011001.png" style="width: 100%; height: 160px;"/>
      </div>
      <div class="col-4 col-6-medium col-6-small">
        <label class="mb-zero" id="indicator-kosdaq">Kosdaq Day</label>
        <img id="indicator-kosdaq-day" src="https://fn-chart.dunamu.com/images/kr/stock/d/E4012001.png" style="width: 100%; height: 160px;"/>
      </div>
      <div class="col-4 col-6-medium col-6-small">
        <label class="mb-zero" id="indicator-dji">DJI Day</label>
        <img id="indicator-dji-day" src="https://fn-chart.dunamu.com/images/us/stock/d/DJI.png" style="width: 100%; height: 160px;"/>
      </div>
      <div class="col-4 col-6-medium col-6-small">
        <label class="mb-zero" id="indicator-nas">NAS Day</label>
        <img id="indicator-nas-day" src="https://fn-chart.dunamu.com/images/us/stock/d/COMP.png" style="width: 100%; height: 160px;"/>
      </div>

      <div class="col-4 col-6-medium col-6-small">
        <label class="mb-zero">Kospi 3M</label>
        <img id="indicator-kospi-month3" src="https://fn-chart.dunamu.com/images/kr/stock/m3/D0011001.png" style="width: 100%; height: 160px;"/>
      </div>
      <div class="col-4 col-6-medium col-6-small">
        <label>DJI 3Ms</label>
        <img id="indicator-dji-month3" src="https://fn-chart.dunamu.com/images/us/stock/m3/DJI.png" style="width: 100%; height: 160px;"/>
      </div>
      <div class="col-4 col-6-medium col-6-small">
        <label>Dollar</label>
        <img id="indicator-dollar" src="https://ssl.pstatic.net/imgfinance/chart/marketindex/FX_USDKRW.png" style="width: 100%; height: 160px;"/>
      </div>
      <div class="col-4 col-6-medium col-6-small">
        <label>Oil TWI</label>
        <img id="indicator-oiltwi" src="https://ssl.pstatic.net/imgfinance/chart/marketindex/OIL_CL.png" style="width: 100%; height: 160px;"/>
      </div>
      <div class="col-4 col-6-medium col-6-small">
        <label>Gold</label>
        <img id="indicator-gold" src="https://ssl.pstatic.net/imgfinance/chart/marketindex/CMDT_GC.png" style="width: 100%; height: 160px;"/>
      </div>
    </div>
    <p/>

    <h3 class="update-recent-stocks">Recent Views</h3>
    <div class="row update-recent-stocks">
      <div class="col-6 col-12-medium">
        <div class="box gray stock">
          <ul class="area">
            <li class="item">
              <div class="stock text">Item</div>
              <div class="align-right">Market Vol.</div>
              <div class="stock text align-right">Start</div>
            </li>
            <li class="item">
              <div class="stock text align-right">Price</div>
              <div class="align-right">Volume</div>
              <div class="stock text align-right">Low</div>
            </li>
            <li class="item">
              <div class="stock text align-right">Up/Down</div>
              <div class="stock align-right">Percent</div>
              <div class="stock text align-right">High</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row" id="recent-stocks-table">
    </div>
  </div>
</section>
{% endblock %}

{% block bodyscript %}
<script type="text/javascript">
  $(function(){
    _data = {recent: {}}
    recent_stocks(render_recent_stocks);
    // KOSPI, KOSDAQ https://stockplus.com/api/securities.json?ids=KOREA-D0011001%2CKOREA-E4012001
    $(".update-recent-stocks").each(function(idx){
      $(this).on('click', function(){
        recent_stocks(render_recent_stocks);
      });
    });

    stock.kakao_overseas(render_overseas_indicator);
    util.gui.show.area("#indicator-area", "#indicator-area span", "#indicator-area-table", 
                       storage.dashboard.indicator.isShow, storage.dashboard.indicator.update);
  });

  function render_overseas_indicator(data) {
    for (let i in data) {
      let item = data[i];
      let percent = item.changePriceRate*100;
      let color = (percent > 0) ? 'color-up' : 'color-down';
      // console.log(item.code);
      let itemCode = {
        'US.DJI':   '#indicator-dji',
        'US.COMP':  '#indicator-nas',
        'D0011001': '#indicator-kospi',
        'E4012001': '#indicator-kosdaq'
      };
      let selector = itemCode[item.code];
      if (selector) {
        $(selector).append('<div class="small stock text align-center '+color+'">'+util.formatNumber(item.displayedPrice)+' / '+percent.toFixed(2)+'%</div>');        
      }
    }
  }
  function recent_stocks(cb){
    var stocks = [];
    $(".recent-stock").each(function(idx){
      var arr = $(this).attr('href').split('/');
      stocks.push(arr[arr.length-1]);
    });
    _data.recent.stocks = stocks;
    var chunk = []
    for (var i in stocks) {
      chunk.push(stocks[i]);
      if (chunk.length >= 10) {
        stock.kakao_assets(chunk, cb);
        chunk = [];
      }
    }
    if (chunk.length > 0) stock.kakao_assets(chunk, cb);
  }
  function render_recent_stocks(data) {
    var do_render = function () {
      var stocks = _data.recent.stocks;
      var fields = _data.recent.fields;
      // console.log(_data.recent.stocks);
      // console.log(_data.recent.fields);
      var find_item = function(code, list) {
        for (var i in list) {
          if (list[i].shortCode == ('A'+code)) return list[i];
        }
        return null;
      }
      var html = '';
      for (var i in stocks) {
        var brief = find_item(stocks[i], fields);
        var chgcolor = brief.change=='RISE'?'color-up':brief.change=='FALL'?'color-down':'';
        var item = [
        '<div class="col-6 col-12-medium">',
        '  <div class="box stock recent" value="'+brief.shortCode.substring(1)+'">',
        '    <ul class="area">',
        '      <li class="item">',
        '        <div class="stock text">'+brief.name+'</div>',
        '        <div class="align-right">'+util.formatNumber(Math.ceil(brief.totalMarketValue/100000000))+' 억</div>',
        '        <div class="stock text align-right '+stock.text_compare_color(brief.prevClosingPrice, brief.openingPrice)+'">'+util.formatNumber(brief.openingPrice)+'</div>',
        '      </li>',
        '      <li class="item">',
        '        <div class="stock text align-right">'+util.formatNumber(brief.tradePrice)+'</div>',
        '        <div class="align-right">'+util.formatNumber(brief.accTradeVolume)+'</div>',
        '        <div class="stock text align-right '+stock.text_compare_color(brief.prevClosingPrice, brief.lowPrice)+'">'+util.formatNumber(brief.lowPrice)+'</div>',
        '      </li>',
        '      <li class="item">',
        '        <div class="stock text align-right '+chgcolor+'">'+util.formatNumber(brief.changePrice)+'</div>',
        '        <div class="stock align-right '+chgcolor+'">'+(brief.changePriceRate*100).toFixed(2)+'%</div>',
        '        <div class="stock text align-right '+stock.text_compare_color(brief.prevClosingPrice, brief.highPrice)+'">'+util.formatNumber(brief.highPrice)+'</div>',
        '      </li>',
        '    </ul>',
        '  </div>',
        '</div>',
        ];
        html += item.join('\n');
      }
      $('#recent-stocks-table').html('');
      $('#recent-stocks-table').append(html);
      $(".box.stock.recent").each(function(idx){
        // console.log('@ '+$(this).attr('value'));
        $(this).on('click', function(){
          window.location = "{{ url_for('bill_stock') }}"+$(this).attr('value');
        });
        $(this).hover(function(){ $(this).addClass('gray'); }, function(){ $(this).removeClass('gray'); });
      });
    };
    // console.log(data);
    if (_data.recent.fields === undefined){
      _data.recent.fields = data;
    } else {
      _data.recent.fields = _data.recent.fields.concat(data);
    }
    if (_data.recent.fields.length == _data.recent.stocks.length) {
      do_render();
    }
  }
</script>
{% endblock %}
