{% extends 'layout.html' %}

{% block content %}
<section>
  <header class="main">
    <div class="row pull-right">
      <div class="btn-group">
        <a type="button" class="button bottom small yellow" href="https://stock.kakao.com/m">K</a>
        <a type="button" class="button bottom small green" href="https://m.stock.naver.com/index.nhn">N</a>
      </div>
    </div>
    <h2>Bill Board</h2>
  </header>
  <div>
    <h3>Recent Views</h3>
    <div class="row" id="recent-stocks-table"></div>
  </div>
</section>
{% endblock %}

{% block bodyscript %}
<script type="text/javascript">
  $(function(){
    _data = {recent: {}}
    recent_stocks(render_recent_stocks);
    // KOSPI, KOSDAQ https://stock.kakao.com/api/securities.json?ids=KOREA-D0011001%2CKOREA-E4012001
  });
  function recent_stocks(cb){
    var stocks = [];
    $(".recent-stock").each(function(idx){
      var arr = $(this).attr('href').split('/');
      stocks.push(arr[arr.length-1]);
    });
    _data.recent.stocks = stocks;
    var chunk = []
    for (var i in stocks) {
      chunk.push(stocks[i]);
      if (chunk.length >= 10) {
        stock.kakao_assets(chunk, cb);
        chunk = [];
      }
    }
    if (chunk.length > 0) stock.kakao_assets(chunk, cb);
  }
  function render_recent_stocks(data) {
    var do_render = function () {
      var stocks = _data.recent.stocks;
      var fields = _data.recent.fields;
      // console.log(_data.recent.stocks);
      // console.log(_data.recent.fields);
      var find_item = function(code, list) {
        for (var i in list) {
          if (list[i].shortCode == ('A'+code)) return list[i];
        }
        return null;
      }
      var html = '';
      for (var i in stocks) {
        var brief = find_item(stocks[i], fields);
        var chgcolor = brief.change=='RISE'?'color-up':brief.change=='FALL'?'color-down':'';
        var item = [
        '  <div class="col-6 col-12-medium">',
        '    <div class="box stock recent" value="'+brief.shortCode.substring(1)+'">',
        '      <ul class="area">',
        '        <li class="item"><div class="stock text">'+brief.name+'</div></li>',
        '        <li class="item"><div class="stock text align-right">'+util.formatNumber(brief.tradePrice)+'</div><div class="align-right">'+util.formatNumber(brief.accTradeVolume)+'</div></li>',
        '        <li class="item"><div class="stock text align-right '+chgcolor+'">'+util.formatNumber(brief.changePrice)+'</div><div class="stock align-right '+chgcolor+'">'+(brief.changePriceRate*100).toFixed(2)+'%</div></li>',
        '      </ul>',
        '    </div>',
        '  </div>',
        ];
        html += item.join('\n');
      }
      $('#recent-stocks-table').append(html);
      $(".box.stock.recent").each(function(idx){
        // console.log('@ '+$(this).attr('value'));
        $(this).on('click', function(){
          window.location = "{{ url_for('bill_stock') }}"+$(this).attr('value');
        });
        $(this).hover(function(){ $(this).addClass('gray'); }, function(){ $(this).removeClass('gray'); });
      });
    };
    // console.log(data);
    if (_data.recent.fields === undefined){
      _data.recent.fields = data;
    } else {
      _data.recent.fields = _data.recent.fields.concat(data);
    }
    if (_data.recent.fields.length == _data.recent.stocks.length) {
      do_render();
    }
  }
</script>
{% endblock %}
