{% extends 'layout.html' %}

{% block body %}
<div id="view-bookmark"></div>
{% endblock %}

{% block bodyscript %}
<script type="text/javascript">
  $(function() {
    ajax.get('/ajax/bookmark', {}, render_bookmark);
  });
  function render_bookmark(resp) {
    for (var i in resp.bookmark) {
      var group = resp.bookmark[i];
      // var html = '<div class="jumbotron">';
      var html = '<div>';
      html += '<h4>'+group.name+'</h4>';
      for (var x in group.list) {
        var item = group.list[x];
        html += '<div class="btn-group">'
        html += '<a href="'+item.link+'" class="btn btn-default btn-space">'+item.title+'</a>'
        html += '</div>';
      }
      html += '</div><p/>';
      $("#view-bookmark").append(html);
    }
  }
</script>
{% endblock %}
