{% extends 'layout.html' %}

{% block content %}
{% if session.user_id %}
  <p/>
  <div>
    <div class="row pull-right">
      <span id="btn-group-none" >
        <button id="edit-button" type="button" class="button gray small">Edit</button>
      </span>
      <span id="btn-group-edit" style="display: none;">
        <button id="edit-store-button" type="button" class="button gray bottom small">Store</button>
        <button id="edit-cancel-button" type="button" class="button bottom small">Cancel</button>
      </span>
    </div>
    <textarea id="edit-bookmark" name="edit-bookmark" class="box gray" rows="10" style="display: none;"></textarea>
  </div>
{% endif %}

<section>
  <header class="main">
    <h2>Bookmark</h2>
  </header>
  <div id="view-bookmark"></div>
</section>
{% endblock %}

{% block bodyscript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.12.2/js-yaml.js"></script>
<!-- <script src="https://cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script> -->
<script type="text/javascript">
  $(function() {
    content_bookmark = null;
    ajax.get('/ajax/bookmark', {}, render_bookmark);
    $('#edit-button').click(function(){
      if (content_bookmark) {
        $('#edit-bookmark').text('');
        $('#edit-bookmark').append(content_bookmark);
      }
      util.shows(['#btn-group-edit', '#edit-bookmark'], ['#btn-group-none']);
    });
    $('#edit-cancel-button').click(function(){
      util.shows(['#btn-group-none'],['#btn-group-edit', '#edit-bookmark']);
    });
    $('#edit-store-button').click(function(){
      verify_bookmark_content();
    });
  });
  function render_bookmark(json) {
    $('#view-bookmark').text('');
    for (var i in json.bookmark) {
      var group = json.bookmark[i];
      // var html = '<div class="jumbotron">';
      var html = '<div>';
      html += '<h3>'+group.name+'</h3>';
      html += '<ul class="row actions">'
      for (var x in group.list) {
        var item = group.list[x];
        html += '<li><a href="'+item.link+'" class="button bottom">'+item.title+'</a></li>';
        // html += '<a href="'+item.link+'" class="btn btn-default btn-space">'+item.title+'</a>'
      }
      html += '</ul>';
      html += '</div><p/>';
      delete json.__include__
      $("#view-bookmark").append(html);
    }
    content_bookmark = jsyaml.safeDump(json, lineWidth=160)
    $('#edit-bookmark').text('');
    $('#edit-bookmark').append(content_bookmark);
  }
  function verify_bookmark_content() {
    var content = $('#edit-bookmark').val();
    try {
      json = jsyaml.load(content);
    } catch (e) {
      util.flash(e.message, 'danger');
      return;
    }
    render_bookmark(json);
    ajax.post('/ajax/bookmark', {data: content}, bookmark_store_response);
  }
  function bookmark_store_response(resp) {
    util.shows(['#btn-group-none'],['#btn-group-edit', '#edit-bookmark']);
  }
</script>
{% endblock %}
